<div class="container">
  <h1>Idea Box 2.0</h1>
  <%= text_field_tag :title, nil, placeholder: "Dat Title" %><br>
  <%= text_area_tag :body, nil, placeholder: "Dat Body" %><br>
  <button id="create-idea" class="btn btn-success">Create Idea</button>

  <div class="">
    <%= text_field_tag :search, nil, class: "search" %>
    <button id="clear-search" class="btn btn-primary">Clear Search</button>
  </div>

  <div class="all-ideas"></div>
</div>
